/* dark mode */
.dark-mode {
  background-color: var(--black-light);
  color: var(--white-dark);
}

.dark-mode section {
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
}

.dark-mode .hero {
  background: linear-gradient(to right, var(--green-dark), var(--green));
  background-size: 200% 50%;
}

.dark-mode .menu-section {
  background-color: var(--black-light);
  color: var(--white-dark);
}

.dark-mode .hero .menu-content .content h3,
.dark-mode .hero .menu-content .content p {
  color: var(--white-dark);
}

.dark-mode .menu-item .menu-card {
  background-color: var(--green-light);
}

.dark-mode .cart-modal {
  background-color: var(--green-light);
}

.dark-mode #menu-price,
.dark-mode #total-items,
.dark-mode #total-price {
  color: var(--black-light);
}

.fa-solid.active {
  transform: rotate(180deg);
  color: var(--green);
}

/* hero section */
.hero {
  background: linear-gradient(to right, var(--green), var(--green-light));
  background-size: 200% 100%;
}

.hero .menu-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.hero .menu-content .content {
  flex: 1 1 45rem;
}

.hero .menu-content .image {
  flex: 1 1 45rem;
}

.hero .menu-content .image img {
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.hero .menu-content .image img:hover {
  transform: scale(1.1);
}

.hero .menu-content .content h3 {
  font-size: 6.2rem;
  color: var(--green-dark);
}

.hero .menu-content .content p {
  font-size: 2.2rem;
  padding: 3rem 0;
  line-height: 1.5;
  color: var(--green-dark);
}

/* menu section */
/* category */
.category-menu {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-items: center;
}

.category-menu .choice-category {
  background-color: var(--green-light);
  background-size: 100% auto;
  background-position: center;
  justify-content: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
  max-width: 35rem;
  height: 8rem;
  border-radius: 3.8rem;
  box-shadow: 0px 0.5px 5px var(--green-dark);
  line-height: 8rem;
}

.category-menu .choice-category .category-link img {
  width: 5rem;
  height: 5rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 8rem;
}

.category-menu .choice-category .category-link img:hover {
  transform: scale(1.1);
}

.category-link.active {
  background-color: var(--green);
  border-radius: 4rem;
}

.category-link:hover {
  background-color: var(--green);
  border-radius: 4rem;
}

/* menu item */
.menu-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.menu-item .menu-card {
  display: flex;
  flex: 1 0 30%;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0px 0.5px 5px var(--green-dark);
  border-radius: 2rem;
  min-height: 100%;
  overflow: hidden;
}

.menu-item .menu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  margin: auto;
}

.menu-item .menu-card h2 {
  text-align: center;
  color: var(--green-dark);
  font-weight: 900;
  font-size: 2rem;
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.menu-item .menu-card #menu-price {
  text-align: center;
  color: var(--black);
  font-size: 1.8rem;
  margin: auto;
}

.order-button {
  width: 50%;
  border: 0;
  padding: 0.6em 0;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 3rem;
  background: linear-gradient(to right, var(--green), var(--green-dark));
  background-size: 200% 100%;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin: auto;
  transition: left 0.3s ease;
}

.order-button:hover {
  background-color: var(--green-dark);
  color: var(--white);
  background-position: right;
}

/* modal cart */
.cart-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: var(--white);
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  background-size: cover;
  padding-top: 7rem;
  z-index: 999;
}

.modal-content {
  padding: 10px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--green);
  overflow-y: auto;
  max-height: 500px;
}

.cart-items::-webkit-scrollbar {
  width: 0;
}

.cart-items::-webkit-scrollbar-track {
  background: transparent;
}

.cart-items::-webkit-scrollbar-thumb {
  background: transparent;
}

.cart-items li {
  margin-bottom: 1rem;
}

.cart-items img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 110px;
  border-radius: 5px;
  margin: 0 auto;
}

.cart-items h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--green-dark);
  margin: 0.5rem 0;
}

#btn-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#total-items,
#total-price {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  padding: 1rem;
}

#menu-price {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
}

#delete-menu,
#add-menu {
  font-size: 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 2px 6px;
}

#delete-menu {
  background-color: #bababa;
}

#add-menu {
  background-color: var(--green);
}

#delete-menu:hover {
  background-color: #808080;
}

#add-menu:hover {
  background-color: var(--green-dark);
}

#total-item-count {
  font-size: 1rem;
  margin: 0 10px;
  font-weight: bold;
  color: #333;
}

#total-items {
  border-top: 1px solid var(--green);
  margin-top: 2rem;
}

.modal-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 0.5rem;
}

.modal-btn button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.cart-modal.show {
  display: block;
}

#close-button {
  font-size: 1.5rem;
  font-weight: 600;
  width: 80px;
  border-radius: 10px;
  background-color: #bababa;
  color: var(--white);
}

#pay-button {
  font-size: 1.5rem;
  font-weight: 600;
  width: 80px;
  border-radius: 10px;
  background: linear-gradient(to right, var(--green), var(--green-dark));
  background-size: 200% 100%;
  color: var(--white);
  margin-left: 1rem;
}

#close-button:hover {
  background-color: #808080;
}

#pay-button:hover {
  background-position: right;
}

button:hover {
  background-color: darken(var(--green-dark), 30%);
}

/* media queries */
/* mobile */
@media (max-width: 768px) {
  .category-menu {
    width: 100%;
  }

  .category-menu .choice-category {
    max-width: none;
  }

  #menu-item .menu-card {
    display: flex;
    flex: 1 0 40%;
    height: 80%;
    gap: 1.5rem;
  }

  #menu-item .menu-card h2 {
    font-size: 1.6rem;
    font-weight: 900;
  }

  #menu-item .menu-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin: auto;
  }

  #menu-item .menu-card #menu-price {
    font-size: 1.4rem;
  }

  #menu-item .order-button {
    border-radius: 5px;
    width: 80%;
  }

  #cart-modal {
    width: 50%;
  }

  #cart-items {
    max-height: 500px;
  }
}
