/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --green: #9eb384;
  --green-light: #cedebd;
  --green-dark: #435334;
  --white-milk: #faf1e4;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
}

.dark-mode {
  background-color: var(--black);
  color: var(--white);
}

.dark-mode .home {
  background-color: var(--green-dark);
}

.dark-mode .menu,
.dark-mode .promo,
.dark-mode .review,
.dark-mode .article,
.dark-mode .story {
  background-color: var(--black);
  color: var(--white);
}

.dark-mode .home .home-slider .slide .content h3,
.dark-mode .home .home-slider .slide .content p,
.dark-mode .story .our-story h4,
.dark-mode .story .our-story .content-story p,
.dark-mode .menu .menu-card h4,
.dark-mode .promo .promo-card h4,
.dark-mode .review .review-card h4,
.dark-mode .article .article-card h4 {
  color: var(--white);
}

.dark-mode .story .our-story .line,
.dark-mode .story .our-story .content-story .line,
.dark-mode .menu .menu-card .line,
.dark-mode .promo .promo-card .line,
.dark-mode .review .review-card .line,
.dark-mode .article .article-card .line {
  background-color: var(--white);
}

.dark-mode .swiper-pagination-bullet-active {
  background: var(--green);
}

/* fa-solid {
  color: white;
  background-color: black;
} */

.fa-solid.active {
  /* color: black;
  background-color: white; */
  transform: rotate(180deg);
}

section {
  flex: 1 1 auto;
  padding: 2rem 9%;
  margin: 0;
}

.home {
  background-color: var(--white-milk);
}

/* section:nth-child(even) {
  background-color: #eee;
} */

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--green-dark);
}

header .logo i {
  margin-right: 1rem;
  color: var(--green);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--green-dark);
}

/* header .navbar a.active, */
header .navbar a:hover {
  color: var(--white);
  background-color: var(--green);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.7rem;
  color: var(--green-dark);
  background-color: var(--white-milk);
}

header .icons i:hover,
header .icons a:hover {
  color: var(--white);
  background-color: var(--green);
  transform: scale(1.1);
}

header .icons #menu-bars {
  display: none;
}

/* media queries */

/* tablet */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}

/* mobile */
@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: 0.1rem, solid var(--green-dark);
    border-bottom: 0.1rem, solid var(--green-dark);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    background-color: var(--white);
    font-size: 2rem;
  }
}

/* hero section */
/* .home .home-slider {
  flex: 1 1 auto;
} */

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home .home-slider .slide .content {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image {
  flex: 1 1 45rem;
}

/* .home .home-slider .slide .image {
  flex: 1 1 45rem;
} */

.home .home-slider .slide .image img {
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.home .home-slider .slide .image img:hover {
  transform: scale(1.1);
}

.home .home-slider .slide .content h3 {
  font-size: 6.2rem;
  color: var(--green-dark);
}

.home .home-slider .slide .content p {
  font-size: 2.2rem;
  padding: 3rem 0;
  line-height: 1.5;
  color: var(--green);
}

.swiper-pagination-bullet-active {
  background: var(--green-dark);
}

/* .story .our-story {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
} */

/* .story {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
} */

/* story section */
/* .story {
  flex: 1 1 auto;
  margin-top: .5rem;
} */

/* .story {
  background-color: #eee;
} */

.story .our-story {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.story .our-story h4 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
  line-height: 2.5;
  color: var(--green-dark);
  word-wrap: break-word;
}

.story .our-story .line {
  width: 10rem;
  height: 0.5rem;
  background: var(--green-dark);
  border-radius: 1rem;
}

.story .our-story .content-story {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  gap: 0.2rem;
}

.story .our-story .content-story .image {
  /* background-color: var(--green-light); */
  flex: 1 1 45rem;
  /* margin-right: 2rem; */
}

.story .our-story .content-story .text {
  flex: 1 1 50rem;
}

.story .our-story .content-story img {
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.story .our-story .content-story img:hover {
  transform: scale(1.1);
}

.story .our-story .content-story p {
  font-size: 2rem;
  padding: 2rem 0;
  line-height: 1.5;
  color: var(--black);
  /* margin-bottom: 1rem; */
}

.story .our-story .content-story .btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--white);
  background-color: var(--green);
  border-radius: 11.25rem;
}

.story .our-story .content-story .btn:hover {
  background-color: var(--green-dark);
}

.story .our-story .video-container {
  max-width: 100%;
  padding: 3rem 0;
  text-align: center;
  /* transition: transform 0.5s ease-in-out; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .story .our-story .video-container:hover {
  transform: scale(1.1);
} */

/* menu section */
/* .menu {
  flex: 1 1 auto;
  margin-top: .5rem;
} */

.menu {
  background-color: #eee;
}

.menu .menu-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.menu .menu-card h4 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
  line-height: 2.5;
  color: var(--green-dark);
  word-wrap: break-word;
}

.menu .menu-card .line {
  width: 10rem;
  height: 0.5rem;
  background: var(--green-dark);
  border-radius: 1rem;
}

/* promo section */
.promo .promo-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.promo .promo-card h4 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
  line-height: 2.5;
  color: var(--green-dark);
  word-wrap: break-word;
}

.promo .promo-card .line {
  width: 10rem;
  height: 0.5rem;
  background: var(--green-dark);
  border-radius: 1rem;
}

/* review section */
.review .review-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.review .review-card h4 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
  line-height: 2.5;
  color: var(--green-dark);
  word-wrap: break-word;
}

.review .review-card .line {
  width: 10rem;
  height: 0.5rem;
  background: var(--green-dark);
  border-radius: 1rem;
}

/* article section */
.article .article-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.article .article-card h4 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
  line-height: 2.5;
  color: var(--green-dark);
  word-wrap: break-word;
}

.article .article-card .line {
  width: 10rem;
  height: 0.5rem;
  background: var(--green-dark);
  border-radius: 1rem;
}
