/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --green: #9eb384;
  --green-light: #cedebd;
  --green-dark: #435334;
  --white-milk: #faf1e4;
  --light-grey: #a49e9e;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--green-dark);
}

header .logo i {
  margin-right: 1rem;
  color: var(--green);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--green-dark);
}

header .navbar a.active,
header .navbar a:hover {
  color: var(--white);
  background-color: var(--green);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.7rem;
  color: var(--green-dark);
  background-color: var(--white-milk);
}

header .icons i:hover,
header .icons a:hover {
  color: var(--white);
  background-color: var(--green);
  transform: scale(1.1);
}

header .icons #menu-bars {
  display: none;
}

/* media queries */

/* tablet */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}

/* mobile */
@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: 0.1rem, solid var(--green-dark);
    border-bottom: 0.1rem, solid var(--green-dark);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    background-color: var(--white);
    font-size: 2rem;
  }
}

.hero {
  background-color: var(--green-light);

  /* display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center; */
}
.hero .menu-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
  align-items: center;
}

.hero .menu-content .image {
  flex: 1 1 45rem;
}
.hero .menu-content .image img {
  width: 100%;
}
.hero .menu-content .content {
  flex: 1 1 45rem;
}
.hero .menu-content .content h3 {
  font-size: 6.3rem;
  color: var(--green-dark);
}
.hero .menu-content .content p {
  font-size: 2.4rem;
  padding: 3rem 0;
  line-height: 1.5;
  color: var(--green-dark);
}

.hero-story {
  display: flex;
  margin-top: 7rem;
  margin-bottom: 7rem;
  gap: 15rem;
}
.hero-story .content-story {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
  padding: 3.5rem;
  align-items: center;
}

.hero-story .content-story h3 {
  display: flex;
  align-items: center;
  font-size: 6.3rem;
  color: var(--green-dark);
  flex-direction: column;
  font-weight: 600;
}

.hero-story .content-story h3 span {
  font-weight: bolder;
}
.hero-story .our-story {
  /* flex: 1 1 45rem; */
  display: flex;
  align-content: center;
  float: right;
  width: 50%;
  font-size: 2rem;
}

.hero-story .our-story p {
  display: flex;
  text-transform: none;
  text-align: justify;
}
/* 
.member .slider-wrapper {
  margin-top: 5rem;
  display: flex;
  background-color: var(--green-light);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  border-radius: 3.75rem;
  margin: auto;
  overflow: hidden;
}

.member .slider-wrapper .member-name img {
  background-color: var(--white);
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}

.member .slider-wrapper .member-name h2 {
  display: flex;
  color: var(--green-dark);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member .slider-wrapper .member-name h4 {
  display: flex;
  color: var(--green-dark);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.member .slider-wrapper .content-member h1 {
  display: flex;
  text-transform: none;
  text-align: justify;
  font-size: 4rem;
  padding: 3rem 0;
  padding-left: 4rem;
  line-height: 1.5;
  color: var(--green-dark);
  margin-left: 6rem;
}

.member .slider-wrapper .content-member p {
  display: flex;
  text-transform: none;
  text-align: justify;
  font-size: 2.4rem;
  padding: 1rem 0;
  padding-left: 5rem;
  line-height: 1.5;
  color: var(--black);
  margin-left: 5rem;
} */

.member .slider-wrapper {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  border-radius: 3.75rem;
  overflow: hidden; /* Hide overflowing content */
  background-color: var(--green-light);
  position: relative;
}

.member .slider-wrapper .content-member {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.member .slider-wrapper .content-member .member-name {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.member .slider-wrapper .member-name {
  margin: auto;
  margin-left: 5rem;
  text-align: center;
  padding: auto;
}

.member .slider-wrapper .member-name img {
  background-color: var(--white);
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}

.member .slider-wrapper .member-name h2 {
  color: var(--green-dark);
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1rem;
}

.member .slider-wrapper .member-name h4 {
  color: var(--green-dark);
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 1rem;
}

.member .slider-wrapper .content-member h1 {
  text-transform: none;
  text-align: justify;
  font-size: 4rem;
  padding: 3rem 0;
  padding-left: 4rem;
  line-height: 1.5;
  color: var(--green-dark);
  margin-left: 6rem;
}

.member .slider-wrapper .content-member p {
  text-transform: none;
  text-align: justify;
  font-size: 2.4rem;
  padding: 1rem 0;
  padding-left: 5rem;
  line-height: 1.5;
  color: var(--black);
  margin-left: 5rem;
}

.member button {
  font-size: 4.5rem;
  color: var(--green-dark);
  opacity: 0.5;
  background-color: var(--green-light);
  margin-left: 1rem;
  margin-right: 1rem;
}

.sekopi-galery .content-galery {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5rem 0;
  gap: 25rem;
}

.sekopi-galery .content-galery h3 {
  font-size: 6.3rem;
  color: var(--green-dark);
  margin-right: 2rem;
  margin-left: 1.3rem; /* Adjust the margin between the heading and paragraph */
}

.sekopi-galery .content-galery p {
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--green-dark);
}

.sekopi-galery .image-galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 3rem;
}

.sekopi-galery .image-galery img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
