/* location */
.location {
  display: flex;
  flex-direction: column; /* Adjust the direction to column */
  align-items: center;
  gap: 20px; /* Adjust the gap between location cards */
}
.location .our-location {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.location .our-location h4 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
  line-height: 2.5;
  color: var(--green-dark);
  word-wrap: break-word;
}

.location .our-location .line {
  width: 10rem;
  height: 0.5rem;
  background: var(--green-dark);
  border-radius: 1rem;
  margin-bottom: 1px;
}
.location .our-location .content-loc {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* location card */
.location-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  margin-bottom: 2rem;
}
.location-card {
  display: grid;
  grid-template-columns: auto auto;
  /* display: flex; */
  padding: 2rem 2rem;
  /* flex-direction: column; */
  /* align-items: center; */
  gap: 0.5rem;
  box-shadow: 0px 2px 5px var(--black-light);
  border-radius: 2.5rem;
  /* min-height: 100%; */
  height: 20rem;
  width: 50rem;
  overflow: hidden;
}

.card-content {
  padding-left: 10px;
  text-align: center;
  position: relative;
}

.location-card img {
  /* max-width: 100%; */
  width: 13rem;
  height: 15rem;
  margin: auto;
  box-shadow: 0px 2px 5px var(--black-light);
  border-radius: 1rem;
}

.location-card .card-content h5 {
  font-size: 2.5rem;
  text-align: center;
}

.location-card .card-content p {
  font-size: 15px;
  text-align: left;
  margin-top: 2rem;
}

.location-card .card-content i {
  font-size: 2rem;
  position: absolute;
  right: -5px;
  bottom: -5px;
  display: inline;
  padding: 0.8rem 0.8rem;
  background-color: var(--green);
  border-radius: 50%;
  color: var(--white-dark);
  margin: auto;
}

.location-card .card-content i:hover {
  background-color: var(--green-dark);
  cursor: pointer;
}

/* preview location */
.modal-container {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container .modal-preview {
  position: relative;
  background-color: var(--white-dark);
  color: var(--black-light);
  margin: auto auto;
  padding: 1.5rem;
  width: 60%;
  height: 80%;
  border-radius: 2rem;
}

.modal-container .modal-preview.active {
  display: flex;
}

.preview-content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
}

.modal-preview .preview-content img {
  height: 47rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 5px var(--black-light);
  border-bottom-left-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
}

.modal-preview .preview-content .loc-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.loc-content h2 {
  color: var(--green-dark);
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.loc-content p {
  columns: var(--black-light);
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.loc-content .maps iframe {
  box-shadow: 0px 2px 5px var(--black-light);
  height: 40rem;
  width: 100%;
  margin-top: 7px;
  border-bottom-right-radius: 0.7rem;
}
/* mobile */
@media (max-width: 768px) {
  .location-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }
  .location-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .card-content {
    font-size: 10%;
    text-align: center;
  }
  .location-card img {
    width: 100%;
    height: 100%;
  }
  .location-card .card-content p {
    margin-bottom: 4rem;
  }
}
/* dark mode */
.dark-mode {
  background-color: var(--black-light);
  color: var(--white-dark);
}

.dark-mode section {
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
}

.dark-mode .home {
  background-color: var(--green-dark);
}

.dark-mode .menu,
.dark-mode .promo,
.dark-mode .review,
.dark-mode .article,
.dark-mode .story {
  background-color: var(--black-light);
  color: var(--white-dark);
}

.dark-mode .home .home-slider .slide .content h3,
.dark-mode .home .home-slider .slide .content p,
.dark-mode .story .our-story h4,
.dark-mode .story .our-story .content-story p,
.dark-mode .menu .menu-card h4,
.dark-mode .promo .promo-card h4,
.dark-mode .review .review-card h4,
.dark-mode .article .article-card h4 {
  color: var(--white-dark);
}

.dark-mode .story .our-story .line,
.dark-mode .story .our-story .content-story .line,
.dark-mode .menu .menu-card .line,
.dark-mode .promo .promo-card .line,
.dark-mode .review .review-card .line,
.dark-mode .article .article-card .line {
  background-color: var(--white-dark);
}

.dark-mode .swiper-pagination-bullet-active {
  background: var(--green);
}

.fa-solid.active {
  transform: rotate(180deg);
  color: var(--green);
}
