/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --white: #ffffff;
  --white-milk: #faf1e5;
  --white-creamy: #e9c99f;
  --white-dark: #f5f5f5;
  --black: #000;
  --black-light: #1b1c1e;
  --green: #9eb384;
  --green-light: #cedebd;
  --green-dark: #435334;
  --light-grey: #a49e9e;
  --dark-grey: #4c4949;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-dark);
  color: var(--black-light);
}

/* dark mode */
.dark-mode {
  background-color: var(--black-light);
  color: var(--white-dark);
}

/* .dark-mode section {
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
} */

.dark-mode .hero {
  background-color: var(--green-dark);
}

.dark-mode .category .choice-category {
  background-color: var(--green);
  color: var(--white-dark);
}

.dark-mode .menu .menu-card {
  background-color: var(--white-creamy);
  color: var(--green-dark);
}
.dark-mode .menu .menu-card h2 {
  color: var(--green-dark);
}
.dark-mode .menu .menu-card .price .order a {
  background-color: var(--black-light);
}

.dark-mode .menu .menu-card .price .order a:hover {
  background-color: var(--white-dark);
  color: var(--black-light);
  font-weight: bold;
}
.dark-mode .hero .menu-content .content h3,
.dark-mode .hero .menu-content .content p,
/* .dark-mode .menu .menu-card h2, */
.dark-mode .menu .menu-card .price {
  color: var(--white-dark);
}

.dark-mode .hero-footer {
  color: var(--black-light);
}
.dark-mode .hero-footer h2,
.dark-mode .hero-footer p {
  color: var(--green-dark);
}
.fa-solid.active {
  transform: rotate(180deg);
  color: var(--green);
}

section {
  /* flex: 1 1 auto; */
  padding: 2rem 9%;
  /* margin: 0; */
}

.hero {
  background-color: var(--green-light);
  /* display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center; */
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--green-dark);
}

header .logo i {
  margin-right: 1rem;
  color: var(--green);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--green-dark);
}

header .navbar a.active,
header .navbar a:hover {
  color: var(--white);
  background-color: var(--green);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.7rem;
  color: var(--green-dark);
  background-color: var(--white-milk);
}

header .icons i:hover,
header .icons a:hover {
  color: var(--white);
  background-color: var(--green);
  transform: scale(1.1);
}

header .icons #menu-bars {
  display: none;
}

/* shopping cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  color: var(--green-dark);
  background-color: var(--white-creamy);
  transition: 0.3s linear;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed var(--dark-grey);
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 10px;
}

.shopping-cart h3 {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.3rem;
  font-weight: 600;
}

.shopping-cart .fa-trash-can {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

/* media queries */

/* tablet */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 991px) {
  .preview {
    flex-wrap: wrap;
  }
}

/* mobile */
@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: 0.1rem, solid var(--green-dark);
    border-bottom: 0.1rem, solid var(--green-dark);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    background-color: var(--white);
    font-size: 2rem;
  }

  /* .menu {
    width: 100%;
  } */
}

/* hero seaction */
.hero .menu-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.hero .menu-content .image {
  flex: 1 1 45rem;
}

.hero .menu-content .image img {
  width: 100%;
}

.hero .menu-content .content {
  flex: 1 1 45rem;
}

.hero .menu-content .content h3 {
  font-size: 6.2rem;
  color: var(--green-dark);
}
.hero .menu-content .content p {
  font-size: 2.2rem;
  padding: 3rem 0;
  line-height: 1.5;
  color: var(--green-dark);
}

/* Category Section */
.category {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-items: center;
}
.category .choice-category {
  background-color: var(--green-light);
  background-size: 100% auto;
  background-position: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem 1rem 3rem;
  width: 40rem;
  height: 8rem;
  border-radius: 3.8rem;
  box-shadow: 2px 2px 3px rgba(1, 1, 3, 0.5);
  line-height: 8rem;
}

.category .choice-category a img {
  width: 5rem;
  height: 5rem;
  margin-top: 0.5rem;
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 8rem;
}

.category .choice-category a img:hover {
  transform: scale(1.2);
}

/* menu section */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
}

.menu .menucard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  padding: 24px 26px;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
  box-shadow: 0px 2px 5px var(--black);
  border-radius: 46px;
  cursor: pointer;
}

.menu .menucard img {
  width: 20rem;
  height: 15rem;
  border-radius: 20px;
  margin: auto;
  /* coba */
  /* position: absolute;
  transform: translate(65%);
  z-index: 1;
  transition: 0.5s; */
}

/* .menu .menu-card:hover img {
  transform: scale(1.1);
} */

.menu .menucard h2 {
  /* display: flex; */
  text-align: center;
  color: var(--green-dark);
  font-weight: 900;
  font-size: 2rem;
  margin: auto;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.menu .menucard .price {
  display: flex;
  color: var(--black);
  text-align: center;
  font-size: 2rem;
  align-content: center;
  margin: auto;
}

/* .menu .order a {
  background-color: var(--green);
  display: flex;
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  align-items: center;
  border: 2px;
  border-style: solid;
  border-radius: 2rem;
}

.menu .menu-card .order a:hover {
  background-color: var(--white);
  color: var(--green);
} */

/* hero footer section */
.hero-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.hero-footer h2 {
  float: left;
  font-size: 4.5rem;
  text-align: center;
  color: var(--green-dark);
  font-weight: 500;
  margin-right: 4rem;
  margin-left: 10rem;
  line-height: 6.5rem;
  letter-spacing: -2.7px;
}
.hero-footer h2 span {
  float: left;
  font-size: 4.5rem;
  text-align: center;
  margin-right: 1rem;
  font-weight: bolder;
}
.hero-footer p {
  float: right;
  /* margin-left: 3rem; */
  margin: auto;
  margin-top: 2.3rem;
  /* padding-right: 9.3rem; */
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: var(--green);
}

/* .category .choice-category a #cake {
  width: 5rem;
  height: 2rem;
} */

/* .menu:hover img {
  transform: translate(1px, -10px) scale(1.2);
}
.menu .menu-card .content-card {
  position: relative;
  transform: translate(40%);
  opacity: 0;
  transition: 0.5s;
  width: 50%;
  top: 20%;
  left: 0%;
}

.menu:hover .menu-card .content-card {
  opacity: 1;
  transform: translate(0);
} */

/* preview section */
.product-preview {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.product-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background-color: var(--white);
  position: relative;
  margin: 2rem auto;
  width: 80%;
  border-radius: 36px;
  flex-wrap: nowrap;
  animation: animationPreview 0.5s;
}

/* preview animation */
@keyframes animationPreview {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.product-preview .preview.active {
  display: inline-block;
}

.product-preview .preview img {
  float: left;
  height: 30rem;
  border-radius: 16px;
  margin-right: 2.5rem;
}

.product-preview .preview .fa-circle-xmark {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  cursor: pointer;
  color: var(--white-dark);
  font-size: 2.5rem;
}

.product-preview .preview .fa-circle-xmark:hover {
  transform: rotate(90deg);
}

.product-preview .preview h2 {
  text-align: left;
  color: var(--green-dark);
  padding: 0.5rem 0;
  font-size: 2.5rem;
}

.product-preview .preview .stars {
  padding: 1rem 0;
  float: left;
}

.product-preview .preview .stars i {
  font-size: 1.7rem;
  color: rgb(233, 152, 13);
}

.product-preview .preview .stars span {
  color: var(--dark-grey);
  font-size: 1.3rem;
}

.product-preview .preview p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
  color: var(--black-light);
  text-align: left;
}

.product-preview .preview .price {
  padding-top: 3rem;
  font-size: 2.5rem;
  color: #eb9c36;
  margin: 1rem 0;
  text-align: left;
  font-weight: 600;
}

.product-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.product-preview .preview .buttons a {
  flex: 1 1 20rem;
  padding: 1rem;
  font-size: 2rem;
  color: var(--black);
  border: 0.1rem solid var(--green-dark);
  font-weight: 400;
  border-radius: 16px;
}

.product-preview .preview .buttons a.cart {
  background: var(--green-dark);
  color: var(--black);
}

.product-preview .preview .buttons a.cart:hover {
  background: var(--white);
}

.product-preview .preview .buttons a.order:hover {
  background: var(--green-dark);
}

/* media queries */

/* tablet */
@media (max-width: 991px) {
  .product-preview .preview img {
    width: 50%;
    height: 50%;
    display: block;
  }
}

/* mobile */
@media (max-width: 768px) {
  .product-preview .preview img {
    width: 50%;
    height: 50%;
    display: block;
  }
}
/* footer */
footer {
  background-color: var(--green-dark);
  color: var(--white-dark);
  font-size: 16px;
}

.row {
  padding: 5rem 5%;
}

.row.primary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-around;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  min-height: 15rem;
}

.footer-text {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 2.4rem;
  white-space: nowrap;
  margin-bottom: 3rem;
  font-style: italic;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

li:not(:first-child) {
  margin-top: 0.8rem;
}

ul li a {
  color: var(--white-dark);
  text-decoration: none;
}

ul li a:hover {
  color: var(--green);
}

.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

div.social {
  display: flex;
  font-size: 2.2em;
  flex-direction: row;
  margin-top: 1.5rem;
}

.social i {
  color: var(--white-dark);
  margin-right: 1rem;
}

.social i:hover {
  color: var(--green-light);
}

.copyright {
  padding: 2rem 5%;
  background-color: var(--black-light);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.copyright p {
  font-size: 1.5rem;
}

.copyright a {
  color: var(--white-dark);
}

.copyright a:hover {
  color: var(--green);
}

@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
    display: flex;
    flex-direction: column;
  }
}
